.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000000;
  background: #ffffff;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(1440px + 32px);
  width: 100%;
  margin: 0 auto;
  /* padding-block: 24px; */
  padding: 24px;
}
.top {
  display: flex;
  border-bottom: 1px solid #ebebeb;
}
.top_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(1440px + 32px);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.contacts_left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  color: #002856;
}

.email {
  border-right: 1px solid #e3e3ed;
  padding-right: 21px;
}
.number {
  padding-left: 21px;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.contactus {
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1878f3;
  padding: 8px 24px;
  gap: 8px;
  border: 1px solid #1878f3;
  background-color: unset;
  cursor: pointer;
}
.lngs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0;
  border: 1px solid #ebebeb;
}
.lngs > a {
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #002856;
  padding: 0 24px;
}
.lngs a:nth-child(1),
.lngs a:nth-child(2) {
  border-right: 1px solid #ebebeb;
}
.lngs a:active {
  color: #1878f3;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 24px 0; */
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #002856;
  gap: 8px;
}
/* mobile */
.hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
  padding: 15px 17px;
  background: #f9f9f9;
  border-radius: 8px;

  position: relative;
}
.hamburger > span {
  width: 16px;
  height: 2px;
  background: #1878f3;
  border-radius: 30px;
}
/* .hamburger_cs span:nth-child(1) {
  rotate: -45deg;
  transition: 0.5s;
}
.hamburger_cs span:nth-child(3) {
  rotate: 45deg;
  transition: 0.5s;
}
.hamburger_cs span:nth-child(2) {
  display: none;
} */

.hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger_cs span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger_cs span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger_cs span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.lngs_mb {
  display: none;
}
.lng {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.lng_div {
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #020105;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 16px;
  padding: 24px;
  background-color: white;
  border-radius: 20px;
  gap: 10px;
}

.show {
  display: flex;
}

.mb {
  position: absolute;
  top: 64px;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  gap: 24px;
  transition: 0.5s;
  background-color: white;
}
.lng_svg > svg {
  rotate: 180deg;
  transition: 0.5s;
}
@media (max-width: 880px) {
  .contacts_left,
  .right,
  .bottom {
    display: none;
  }
  .top {
    border-bottom: none;
  }

  .hamburger,
  .lngs_mb {
    display: flex;
  }
  .left {
    gap: 16px;
  }

  .boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top_inner {
  }
  .box {
    padding: 0;
  }
  .boxs {
    padding: 12px 16px 8px 16px;
  }
}
